<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fbasket server</title>
</head>
<body>
	<h1>Fbasket server deployed in Heruko</h1>

	<h2>GET Customers</h2>
	<p>sample url - http://localhost:4000/v1/customers/12345	</p>

	<h2>GET Products</h2>
	<p> sample url - http://localhost:4000/v1/products</p>

	<h2>GET Orders</h2>
	<p>sample url - http://localhost:4000/v1/orders</p>

</body>
</html>